<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-content">
                            <h3 class="title">Khu vực </h3>
                            <ul class="nav nav-pills nav-pills-icons nav-pills customcolor" role="tablist">
                                    <li [ngClass]="{'active': value=='1'}">
                                        <a href="#dashboard" role="tab" data-toggle="tab">
                                            <i class="material-icons">location_city</i>
                                            Hồ Chí Minh
                                        </a>
                                    </li>
                                    <li [ngClass]="{'active': value=='2'}">
                                        <a href="#schedule" role="tab" data-toggle="tab">
                                                <i class="material-icons">beach_access</i>
                                            Vũng Tàu
                                        </a>
                                    </li>
                                    
                            </ul>
                            <br>
                            <h3 class="title">Ngôn ngữ </h3>
                            <ul class="nav nav-pills nav-pills-icons nav-pills customcolor" role="tablist">
                                    <li class="active">
                                        <a href="#dashboard" role="tab" data-toggle="tab">
                                            <i class="material-icons">g_translate</i>
                                            Vietnamese
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#schedule" role="tab" data-toggle="tab">
                                                <i class="material-icons">g_translate</i>
                                            English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#schedule" role="tab" data-toggle="tab">
                                                <i class="material-icons">g_translate</i>
                                            Korean
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#schedule" role="tab" data-toggle="tab">
                                                <i class="material-icons">g_translate</i>
                                               Japanese
                                        </a>
                                    </li>
                                    
                            </ul>
                               
                    </div>
                    <div class="card-footer">
                            
                    </div>
                    
                   
                    <div class="text-center">
                            <a class="btn btn-danger btn-round">Cập nhật<div class="ripple-container"></div></a>
                    </div>
                    
                            
                </div>
                    
                   
            </div>
            
        </div>
    </div>
</div>

